@model RoleClaimPolicyProject.ViewModels.RoleViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h1 class="display-4">Create Role</h1>
  
</div>
<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-12">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-12">
            <label>Permission</label>
            @{
                int k = 0;

            }
        <p>
            @foreach (var p in ViewBag.Permissions)
            {
                <input type="checkbox" asp-for="@Model.Permissions[@k].IsSelected" checked="@p.IsSelected" />@p.Type<br />
                <input type="hidden" asp-for="@Model.Permissions[@k].Id" value="@p.Id" />
                <input type="hidden" asp-for="@Model.Permissions[@k].Type" value="@p.Type" />
                <input type="hidden" asp-for="@Model.Permissions[@k].Value" value="@p.Value" />
                k++;
            }
        </p>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</form>